div#navbar {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:50px;
  color:#CCCC;
  background-color: black;
  background-size: cover;
  background-position: center;
  padding:8px;
  overflow: hidden;
}

.nav-partial {
  padding-left: 20px;
  float: left;
  color: #CCC
}

#navbar-spacer {
  height: 80px;
}

body {
  background-image: url(../img/lights.jpg);
  background-position-x: center;
}